---
import Layout from '../layouts/Layout.astro';
const pageTitle = "About Page"
---

<Layout title="About">
	<div class="about">
		<h1>about me</h1>
		<div class="row">	
			<img src="/about.jpg">
			<div class="col">
				<p>
					Saya seorang lulusan SMA yang memiliki keterampilan di bidang menjahit. <br>
					Sekarang saya sedang mempelajari pemrograman, bahas pemrograman yang saya kuasai diantarnya, HTML,CSS,PHP,mysql dan javaScript. <br>
					Saya juga menguasai beberapa framework dan library seprti Bootstrap,Laravel,jquery,Astro dll. Bisa bekerja secara remote dengan github <br>
					Saya juga menyukai musik dan bisa memainkan gitar dan keyboard.
				</p>
			</div>
		</div>
	</div>	
</Layout>

