---
import Social from './Social.astro';
---

<footer>
<div class="footer">
  <Social platform = "github" username = "abdisae3"/>
  <Social platform = "twitter" username = "abdisae3"/>
  <Social platform = "youtube" username = "abdisae"/>
  <Social platform = "facebook" username = "abdisae"/>
  <Social platform = "instagram" username = "abdisae"/>
</div>
<span>coppyright by abdisae3@gmail.com</span>
</footer>