---
import Social from './Social.astro';
---

<footer>
<div class="footer">
  <Social platform = "github" usernsme = "abdisae3"/>
  <Social platform = "twitter" usernsme = "abdisae3"/>
  <Social platform = "youtube" usernsme = "abdisae"/>
  <Social platform = "facebook" usernsme = "abdisae"/>
  <Social platform = "instagram" usernsme = "abdisae"/>
</div>
<span>coppyright by abdisae3@gmail.com</span>
</footer>