---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import Brand from './Brand.astro';
---
<header>
	<nav>
		<Brand/>
		<Hamburger/>
		<Navigation/>
	</nav>
</header>