---
const navLinks : {label:string; href:string}[]=[
	{label:'Beranda', href:'/'},
	{label:'Tentang', href:'/about'},
	{label:'Projek', href:'/project'},
	{label:'Galeri', href:'/galeri'},
	];
---
<div class="nav-link">
	{navLinks.map(({label,href})=>(
		<a href={href} aria-current={Astro.url.pathname === href} class:list={['link',{active: Astro.url.pathname === href || (href !== '/'&& Astro.url.pathname.startsWith(href)),}]}>{label}</a>
		))};
</div>